* {
  box-sizing: border-box;
}
body {
    font-family: "Georgia,serif";
}
li {
    list-style: none;

    /*float: left;
    padding: 15px 40px; メモ書き*/
}
.clear {
  clear: left;
}

header {
    height: 50px;
    width: 100%;
    background-color:black;
    position:fixed;
    top:0;
    z-index:10;
  }
  .header-left{
    float: left;
    margin-top: 13px;
    margin-bottom: 13px;
}
  .header-logo {
    color:red;
    padding: 0 50px;
  }
  .fa {
    margin-right: 5px;
  }
  .header-right {
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
  }
  .header-right a {
    line-height:50px;
    padding:0 25px;
    color:white;
    display:block;
    transition:all 0.3s;
    float: left;
  }
  .header-right:hover {
    background-color:turquoise;
  }




  
.top-wrapper {
    height: 1000px;
    width: 100%;
    background-image: url(https://github.com/UNLIMITED-08/BLW/blob/main/304876_l.jpg?raw=true);
}
.top-container{
    text-align:center;
    padding: 300px 0px;
}
.top-container h1{
    font-size: 35px;
    color: white;
    /*opacity: 0.8;
    /*background-color: tomato;*/
}
.top-container p{
    font-size: 15px;
    color:white;
    /*background-color: violet;*/
    margin-top: 150px;

}
.btn-wrapper{
    margin: 50px 0;
    margin-bottom: 10px;
}
.btn-wrapper p{
    font-size: 20px;
    color:white;
    /*background-color:wheat;*/
    margin: 30px 0;
}
.signup {
    background-color:coral;
    margin-top: 50px;
  }
  
  .facebook {
    background-color: #3b5998;
    margin-right: 10px;
  }
  
  .twitter {
    background-color: #55acee;
  }
  .btn {
    padding: 8px 24px;
    color: white;
    display: inline-block;
    /* opacity: 0.8; */
    border-radius: 40px;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }





.lesson-wrapper{
    width: 100%;
    height: 1000px;
}
.lesson-container{
}
.heading h2{
    text-align: center;
    font-size: 50px;
    color: black;
    margin-top: 250px;
}
.lessons h1{
    margin-top: 250px;
    text-align: center;
    font-size: 40px;
  }
.lesson{
  margin-top: 200px;
    float: left;
    width: 25%;
}
.lesson-icon {
    position: relative;
    text-align: center;
}
.lesson-icon p {
    font-size: 14px;
    position: absolute;
    top: 75px;
    left: 60px;
    color:white;
}
.text-contents{
    color:black;
    font-size: 15px;
    padding: 20px 0;
    background-color: turquoise;
    border-radius: 30px;
    text-align: center;
}



.footer-container{
  padding-top: 400px;
  height: 400px;
  background-image:url(folder/4969206_s.jpg) ;
  width: 100%;
  text-align: center;
}
  .footer-logo{
      font-size: 40px;
      color:black;
      text-align: center;
  }
  .footer-list{
    padding: 50px 0;
    font-size: 20px;
      color:black;
  }
