/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
    .lesson-wrapper{
        height:2500px;
    }
 .lesson{
      width:50%;
  }
}
  /* スマホ向けレイアウト */
  @media all and (max-width: 750px) {
    .top-wrapper{
        width: 100%;
    }
    .lesson-wrapper{
        width: 100%;
        height: 2000px;
    }
    .lesson{
        width:100%;
    }
    /*.flex-list{
        flex-direction: column;
    }
    .flex-list lesson{
        margin: 0 auto;
    }*/
   .footer-container{
       width: 50%;
   }
   .clear{
    float: left;
  }
  
  }
