body {
    font-family: "Avenir Next";
}
li {
    list-style: none;
}




header {
    height: 50px;
    width: 100%;
    background-color:black;
    position:fixed;
    top:0;
    z-index:10;
  }
  .header-logo {
    float: left;
      color:red;
      padding:0 25px;
      margin-top: 13px;
      margin-bottom: 13px;
  }
  .header-right {
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
    transition:all 0.5s;
  }
  .header-right a {
    line-height:50px;
    padding:0 25px;
    color:white;
    display:block;
  }
  .header-right:hover {
    background-color:turquoise;
  }




  
.top-wrapper {
    height: 800px;
}
.top-container{
    text-align:center;
    margin-top: 400px;
}
.top-container h1{
    height: 170px;
    font-size: 35px;
    color: white;
    margin-top: 60px;
}
.top-container p{
    font-size: 15px;
    color: white;
    margin-top: 200px;

}
.btn-wrapper{
    height: 100px;
}
.btn-wrapper p{
    font-size: 10px;
    color: white;
    margin-top: 10px;
}
.signup {
    background-color:coral;
    margin-top: 90px;
  }
  
  .facebook {
    background-color: #3b5998;
    margin-right: 10px;
  }
  
  .twitter {
    background-color: #55acee;
  }
  .btn {
    padding: 8px 24px;
    color: white;
    display: inline-block;
    border-radius: 4px;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }





.lesson-wrapper{
    width: 100%;
    height: 800px;
}
.heading h2{
    text-align: center;
    font-size: 25px;
    color: white;
    margin-top: 200px;
}
.lesson {
    float: left;
    width: 25%;
    margin-top: 50px;
  }
  .lesson-icon {
    position: relative;
  }
  .lesson-icon p {
    font-size: 14px;
    position: absolute;
    top: 75px;
    left: 40px;
    width: 100%;
    color: white;
  }
  .txt-contents{
    color: white;
    font-size: 15px;
  }


.footer-container{
    text-align: center;
}
  .footer-logo{
      font-size: 30px;
      color:white;
  }
  .footer-list{
      color:white;
  }
